In [52]:
import pandas as pd

In [1]:
temp=pd.read_csv('../output/temp.csv')

NameError: name 'pd' is not defined

In [54]:
temp.head()

   PLACE FIRSTNAME   LASTNAME  AGE SEX            CITY  ST   TIME  YEAR
0      1   Jeffrey     Brooks   22   M          Albany  NY  19:52  2000
1      2      Nick     Conway   24   M          Albany  NY  19:56  2000
2      3     Peter      Flynn   23   M     Schenectady  NY  20:22  2000
3      4     Jaime  Rodriguez   19   M          Albany  NY  20:33  2000
4      5     Tyson    Evensen   17   M  West Sand Lake  NY  21:08  2000

In [55]:
# import the results
results=pd.read_fwf('../data/rotg2016.txt')

results.head()

   Place            Name  No.  Age  S             City  St   Time  Pace
0      1  Eric Macknight  383   27  M    Ballston Lake  NY  19:57  5:00
1      2    Aaron Lozier  378   27  M           Albany  NY  20:22  5:06
2      3     Alex Benway  217   25  M  Saratoga Spring  NY  20:52  5:13
3      4   Shaun Donegan  278   30  M            Malta  NY  20:58  5:15
4      5     Macky Lloyd  374   25  M           Albany  NY  21:13  5:19

In [60]:
temp2=pd.DataFrame()
temp2['PLACE']=results.Place
temp2['FIRSTNAME']=results.Name.apply(lambda x: x.split(' ',1)[0])
temp2['LASTNAME']=results.Name.apply(lambda x: x.split(' ',1)[1])
temp2['AGE']=results.Age
temp2['SEX']=results.S
temp2['CITY']=results.City
temp2['ST']=results.St
temp2['TIME']=results.Time
temp2['YEAR']=2016

In [61]:
temp2.head()

   PLACE FIRSTNAME   LASTNAME  AGE SEX             CITY  ST   TIME  YEAR
0      1      Eric  Macknight   27   M    Ballston Lake  NY  19:57  2016
1      2     Aaron     Lozier   27   M           Albany  NY  20:22  2016
2      3      Alex     Benway   25   M  Saratoga Spring  NY  20:52  2016
3      4     Shaun    Donegan   30   M            Malta  NY  20:58  2016
4      5     Macky      Lloyd   25   M           Albany  NY  21:13  2016

In [64]:
alltime=temp.append(temp2).reset_index(drop=True)

In [66]:
alltime.tail()

      PLACE FIRSTNAME  LASTNAME  AGE SEX           CITY  ST   TIME  YEAR
7005    300   Rebecca  McMillen   42   F    Schenectady  NY  54:37  2016
7006    301  Jennifer   Rittner   44   F      Rotterdam  NY  55:06  2016
7007    302      Kate  Bellotti   39   F         Scotia  NY  55:31  2016
7008    303  Kimberly   Furnish   43   F         Scotia  NY  55:31  2016
7009    304  Patricia  Dipierro   63   F  Cherry Plains  NY  56:07  2016

In [68]:
alltime.to_csv('../output/alltime.csv',index=False)

In [2]:
type(results.Time)

NameError: name 'results' is not defined