In [1]:
import pandas as pd

In [3]:
delmar=pd.read_csv('data/20160403_DelmarDash5Miler.csv')

In [23]:
delmar.tail(2)

,Place,Bib,First_Name,Last_Name,Age,Sex,City,State,Team,Div,...,SexPlace,1M,2M,3M,4M,5M,NET Time,NET Pace,Time,Pace
439,440,274,Raymond W.,Lee Jr.,74,M,Halfmoon,NY,Adirondack Athletic Club,M7074,...,227,12:45,13:28,14:11,14:33,13:50,1:08:46,13:46,1:09:17,13:52
440,441,38,Eiko,Bogue,78,F,Schaghticoke,NY,Hudson Mohawk Road Runners Club,F75+,...,214,13:21,13:27,14:18,14:34,14:09,1:09:47,13:58,1:10:07,14:02

In [26]:
temp2=pd.DataFrame()
#temp2['PLACE']=results.Place
temp2['id']=rotg.index
temp2['time']=delmar.Time.apply(lambda x: timetostr(x))
temp2['race_id']=4
temp2['runner_id']=0
temp2['first_name']=delmar.First_Name
temp2['last_name']=delmar.Last_Name
temp2['gender']=delmar.Sex
temp2['city']=delmar.City
temp2['state']=delmar.State
temp2['age']=delmar.Age
temp2['bib']=delmar.Bib
temp2['pace']=delmar['NET Pace']
temp2['splits']=delmar['1M']+','+delmar['2M']+','+delmar['3M']+','+delmar['4M']+','+delmar['5M']
#temp2['YEAR']=2016

In [35]:
temp2.head()

,time,race_id,runner_id,first_name,last_name,gender,city,state,age,bib,pace,splits
0,00:2522,4,0,Eric,Macknight,M,Ballston Lake,NY,27,295,5:05,"4:59,5:04,5:07,5:14,4:59"
1,00:2708,4,0,Aaron,Lozier,M,Albany,NY,27,291,5:26,"5:07,5:26,5:29,5:42,5:26"
2,00:2721,4,0,John,Farley,M,Albany,NY,27,154,5:28,"5:34,5:20,5:23,5:41,5:23"
3,00:2730,4,0,Alex,Benway,M,Saratoga Springs,NY,25,32,5:30,"5:34,5:16,5:34,5:43,5:23"
4,00:2736,4,0,Richard,Messineo,M,Albany,NY,27,328,5:32,"5:26,5:25,5:21,5:47,5:39"

In [36]:
def timetostr(time):
    ts=time.split(':')
    if int(ts[0])>10:
        strtime='00:'+ts[0]+':'+ts[1]
    else:    
        strtime=ts[0]+':'+ts[1]+':'+ts[2]
    return strtime

In [29]:
import sqlite3
conn=sqlite3.connect('../site/runnin/db.sqlite3')
cursor=conn.cursor()

In [30]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[(u'django_migrations',),
 (u'sqlite_sequence',),
 (u'auth_group',),
 (u'auth_group_permissions',),
 (u'auth_user_groups',),
 (u'auth_user_user_permissions',),
 (u'django_admin_log',),
 (u'django_content_type',),
 (u'auth_permission',),
 (u'auth_user',),
 (u'django_session',),
 (u'results_race',),
 (u'results_runner',),
 (u'results_result',)]

In [31]:
df=pd.read_sql("select * from results_result",conn)

In [32]:
df.shape

(304, 13)

In [34]:
temp2.to_sql('results_result',conn, if_exists='append',index=False)