In [1]:
import pandas as pd
import operator
from difflib import SequenceMatcher

xl=pd.ExcelFile('..\spreadsheet\Grand_Prix_Post_Stockadeathontemp.xls')

xl.sheet_names

[u'Male',
 u'Female',
 u'Agegrade',
 u'Totals Worksheet',
 u'Stockadeathon',
 u'Marathon',
 u'Vville',
 u'SEFCU',
 u'Anniversary',
 u'Colonie Mile',
 u'Dist Serv Worksheet',
 u'Green Worksheet',
 u'Masters Worksheet']

In [2]:
df=xl.parse('Female')

In [3]:
df.head()

,"Race #1 Hangover Half Marathon, January 1, 2015",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Female Open,NaN,Female 30-39,NaN,Female 40-49,NaN,Female 50-59,NaN,Female 60-69,NaN,Female 70-99
1,1,12,Jessy Montrose,12,Karen Bertasso,12,Sally Drake,12,Colleen Brackett,12,Susan Wong,12,NaN
2,2,10,Hannah Patzwahl,10,Karen Quaresimo,10,Karen Dolge,10,Nancy Briskie,10,Ginny Pezzula,10,NaN
3,3,8,Michelle Davis,8,Janne Rand,8,Regina McGarvey,8,Denise Iannizzotto,8,Jill Mehan,8,NaN
4,4,7,Jennifer Kehn,7,Lindsay Choppy,7,Lara Stelmaszyk,7,Chris Varley,7,Darlene Cardillo,7,NaN

In [11]:
new=df.ix[:,5:7]
new=new.dropna()
new=new.reset_index()

In [12]:
score(new)

70 Sally Drake
44 Emily Bryans
33 Mary Fenton
31 Stacia Smith
28 Karen Dolge
26 Lara Stelmaszyk
22 Regina McGarvey
19 Miriam Hardiin
18 Erin Corcoran
18 Terri Artese
15 Kathy Vanvalen
15 Alecia Thompson
14 Colleen Murray
14 Connie Smith
12 Christa Dederick
12 Michelle Pendergast
10 Karen Blesser
10 Ruth Sadinsky
10 Heather Machabee
8 Leah Giordano
8 Andrea Robinson
7 Tina Greene
7 Debra Rothaupt
7 Dee Fisher-Golden
6 Sheila Couch
6 Kimberly Miseno-Bow
6 Sherri Benner
6 Sarah Hesler
6 Raychem Aigelin
6 Teresa Stutsrim
5 Anne Marie Bremm
5 Shannon Pinkowski
5 Lisa Scaringe
5 Nanette Hatch
4 Dora Anderson
4 Barbara Rothaupt
4 Lisa LaPlante
4 Sharon Strodl
3 Kirsten Vandyk
3 Thessaly Bullard
3 Diane Fisher
2 Theresda Hudda
2 Alison Johnson
2 Diane Harris
2 Sarah Vogel
2 Kathleen Tersigni
1 Mary Insogna
1 Jennifer Groth
1 Gail Doering
1 Sharee L. Gritsavag

In [4]:
def score(age_results):
    
    dicti={}

    for row in age_results.index:
        #name=new.NameO[row]
        name=age_results.iloc[row,2]

        p=age_results.iloc[row,1]
        if name in dicti.keys():
            points=dicti[name]
            points.append(p)
        else:
            bestmatch=0
            bestkey=None
            for key in dicti.keys():
                testmatch=SequenceMatcher(None, name, key).ratio()
                if (testmatch>bestmatch):
                    bestmatch=testmatch
                    bestkey=key
                       
            if (bestmatch>0.85):
                points=dicti[bestkey]
                points.append(p)
            else:
                dicti[name]=[p]

    totals={}

    for name in dicti:
        points=dicti[name]
        points.sort(reverse=True)
        total=points[0:6]
        totals[name]=sum(total)


    sorted_totals = sorted(totals.items(), key=operator.itemgetter(1), reverse=True)

    for item in sorted_totals:
        print str(int(item[1]))+' '+item[0]

In [7]:
test=dict['Ben Heller']

print test
print test.sort(reverse=True)
print test

TypeError: 'type' object has no attribute '__getitem__'

In [8]:
test=[1,2,3,4,5]
print test[0:10]

[1, 2, 3, 4, 5]

In [19]:
m=SequenceMatcher(None, "Mick Blicker", "M. Blicker")
print m.ratio()

0.818181818182