In [17]:
import pandas as pd

In [18]:
rotg=pd.read_csv('../data/rotg-m9.csv')
usatf=pd.read_excel('../data/usatf.xlsx')
clubs=pd.read_csv('../data/clubs.csv')

In [19]:
rotg.head()

,first,last,gender,city,state,age,usatf_num,hmrrc,usatf,regtype,regfee,payment,regdate
0,Mark,Lansing,male,Niskayuna,NY,39,30523780,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/07/2016 07:53:02
1,Chester,Tumidajewicz,M,Amsterdam,NY,61,1400029383,NaN,Yes,HMRRC and/or USATF member,25,Free,03/02/2016 12:34:18
2,Raymond W.,"Lee, Jr.",Male,Halfmoon,NY,74,1400029425,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/23/2016 20:36:40
3,Thomas,Dalton,Male,Schenectady,NY,57,1400029581,No,Yes,HMRRC and/or USATF member,25,Paid,02/24/2016 20:52:23
4,Emily,Bryans,Female,Delanson,NY,48,1400030571,Yes,Yes,Previous Winner or Race Director,0,Free,03/08/2016 12:02:28

In [20]:
usatf.head()

,num,first,last,Sr,city,state,gender,age,club
0,1608750194,Caitlin,Abelseth,NaN,Voorheesville,NY,F,23,NaN
1,1608826226,Zakaria,Adam Djouma,NaN,Utica,NY,M,20,NaN
2,1402459190,Thomas,Adams,NaN,Schenectady,NY,M,71,262
3,1608897441,Kwasi,Addo-Baffour,Jr,Menands,NY,M,17,NaN
4,1608871503,Noah,Affolder,Jr,Ft. Drum,NY,M,17,NaN

In [21]:
clubs.head()

                           clubname  clubid
0          Adirondack Athletic Club     252
1                   ARE Racing Team     279
2         Averill Park Road Runners     234
3                Castleton Cruisers     309
4  Central New York Pole Vault Club     319

In [26]:
usatf=pd.merge(usatf, clubs, how='left', left_on='club', right_on='clubid')

In [29]:
usatf2=usatf[['num','clubname']]
usatf2.head()

          num     clubname
0  1608750194          NaN
1  1608826226          NaN
2  1402459190  Team Utopia
3  1608897441          NaN
4  1608871503          NaN

In [31]:
rotg=pd.merge(rotg, usatf2, how='left', left_on='usatf_num', right_on='num')

In [32]:
rotg

,first,last,gender,city,state,age,usatf_num,hmrrc,usatf,regtype,regfee,payment,regdate,num,clubname
0,Mark,Lansing,male,Niskayuna,NY,39,30523780,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/07/2016 07:53:02,NaN,NaN
1,Chester,Tumidajewicz,M,Amsterdam,NY,61,1400029383,NaN,Yes,HMRRC and/or USATF member,25,Free,03/02/2016 12:34:18,1400029383,NaN
2,Raymond W.,"Lee, Jr.",Male,Halfmoon,NY,74,1400029425,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/23/2016 20:36:40,1400029425,Adirondack Athletic Club
3,Thomas,Dalton,Male,Schenectady,NY,57,1400029581,No,Yes,HMRRC and/or USATF member,25,Paid,02/24/2016 20:52:23,1400029581,Adirondack Athletic Club
4,Emily,Bryans,Female,Delanson,NY,48,1400030571,Yes,Yes,Previous Winner or Race Director,0,Free,03/08/2016 12:02:28,1400030571,Willow Street AC
5,Martha C.,DeGrazia,Female,Slingerlands,NY,65,1400030795,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/23/2016 07:50:48,1400030795,Willow Street AC
6,Nancy,Nicholson,Female,Queensbury,NY,53,1400031132,Yes,Yes,HMRRC/USATF Car Pool,20,Free,03/08/2016 12:12:34,1400031132,Willow Street AC
7,Andrea,Hollinger,Female,East Greenbush,NY,28,1400345524,No,Yes,HMRRC/USATF Car Pool,20,Free,03/05/2016 15:56:46,1400345524,ARE Racing Team
8,rob,picotte,Male,Malta,NY,62,1400510465,Yes,Yes,HMRRC and/or USATF member,25,Free,02/28/2016 18:54:00,1400510465,Adirondack Athletic Club
9,Chris,Buckley,Male,Burnt Hills,NY,54,1400713184,Yes,Yes,HMRRC and/or USATF member,25,Paid,03/07/2016 19:53:12,1400713184,Adirondack Athletic Club
10,Elaine,Morris,Female,East Greenbush,NY,63,1400857478,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/26/2016 11:44:41,1400857478,ARE Racing Team
11,Karen,Dolge,Female,Valatie,NY,45,1401031495,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/23/2016 08:18:50,1401031495,Kinderhook Runners Club
12,Wade,Stockman,Male,Rensselaer,NY,81,1401259922,Yes,Yes,HMRRC and/or USATF member,25,Free,03/07/2016 12:39:43,1401259922,Team Utopia
13,Beth,Stalker,Female,Burnt Hills,NY,56,1401442754,Yes,Yes,HMRRC/USATF Car Pool,20,Free,03/08/2016 12:06:52,NaN,NaN
14,Lee,Pollock,Male,Queensbury,NY,63,1401820780,Yes,Yes,HMRRC and/or USATF member,25,Paid,02/24/2016 16:36:16,1401820780,NaN
15,Jon,Rocco,Male,Colonie,NY,49,1401874845,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/11/2016 06:53:42,1401874845,Team Utopia
16,Eiko,Bogue,Female,Schaghticoke,NY,78,1401963523,Yes,Yes,HMRRC and/or USATF member,25,Paid,02/23/2016 18:30:34,NaN,NaN
17,Lisa,D'Aniello,female,Albany,NY,29,1402009524,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/21/2016 20:29:39,NaN,NaN
18,Tom,McGuire,Male,Slingerlands,NY,64,1402064461,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/23/2016 07:44:08,1402064461,Adirondack Athletic Club
19,Robert,Colborn,male,Schenectady,NY,61,1402519316,Yes,Yes,HMRRC and/or USATF member,25,Paid,03/03/2016 20:00:39,1402519316,Adirondack Athletic Club
20,Chuck,Terry,Male,Albany,NY,33,1402721458,Yes,Yes,Previous Winner or Race Director,0,Free,03/03/2016 22:27:49,1402721458,Willow Street AC
21,Mary,Buck,Female,Mechanicville,NY,52,1403193491,Yes,Yes,HMRRC/USATF Car Pool,20,Free,03/08/2016 12:04:14,1403193491,Willow Street AC
22,Bill,Douglas,Male,Rensselaer,NY,54,1403557026,Yes,Yes,HMRRC and/or USATF member,25,Paid,02/24/2016 18:39:03,1403557026,Adirondack Athletic Club
23,Volker,Burkowski,Male,Gansevoort,NY,44,1403738154,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,02/14/2016 14:42:35,1403738154,Willow Street AC
24,Alex,Benway,Male,Saratoga Springs,NY,25,1403887639,No,Yes,Car Pool,25,Paid,03/07/2016 15:14:07,1403887639,Willow Street AC
25,Aaron,Knobloch,Male,Niskayuna,NY,39,1404219428,Yes,Yes,HMRRC and/or USATF member,25,Paid,02/22/2016 09:39:26,1404219428,ARE Racing Team
26,Thomas,Kracker,Male,Delmar,NY,51,1404687913,Yes,Yes,Car Pool,25,Paid,02/28/2016 17:56:11,1404687913,Adirondack Athletic Club
27,nancy,Taormina,female,Albany,NY,56,1404842617,Yes,Yes,HMRRC/USATF Car Pool,20,Paid,03/06/2016 19:24:33,1404842617,Team Utopia
28,Todd,Mesick,Male,Cohoes,NY,48,1405113224,Yes,Yes,HMRRC and/or USATF member,25,Paid,02/13/2016 16:03:30,1405113224,Adirondack Athletic Club
29,Ray,Webster,male,Altamont,NY,41,1405190636,No,Yes,HMRRC and/or USATF member,25,Paid,02/26/2016 17:19:51,1405190636,ARE Racing Team
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Kelly,Gillen,Female,Altamont,NY,48,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/29/2016 21:01:53,NaN,NaN
254,Alicia,Gillen,F,Altamont,NY,46,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/29/2016 20:54:19,NaN,NaN
255,Tara,Joyce,female,Altamont,NY,27,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/28/2016 18:01:50,NaN,NaN
256,Kim,DeMagistris,Female,Clifton Park,NY,29,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,03/03/2016 15:19:10,NaN,NaN
257,Cheryl,Hutchinson,Female,Clifton Park,NY,49,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/21/2016 17:12:52,NaN,NaN
258,Marie,Arrao,Female,Clifton Park,NY,60,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/10/2016 09:35:07,NaN,NaN
259,Bowden,Wise,Male,Clifton Park,NY,53,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/08/2016 21:36:10,NaN,NaN
260,Joshua,Katzman,Male,Clifton Park,NY,40,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/02/2016 07:40:42,NaN,NaN
261,Daniel,Brady,Male,Cohoes,NY,39,NaN,Yes,Yes,HMRRC and/or USATF member,25,Paid,03/08/2016 13:02:56,NaN,NaN
262,joshua,O'Connor,male,Delanson,NY,40,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,03/08/2016 22:24:17,NaN,NaN
263,Christian W.,Lietzau,Male,Delmar,NY,53,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,01/31/2016 15:27:06,NaN,NaN
264,Melanie,Capron,Female,Duanesburg,NY,40,NaN,Yes,NaN,HMRRC/USATF Car Pool,20,Free,02/28/2016 18:42:09,NaN,NaN
265,Brian,Daviero,Female,Duanesburg,NY,39,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/03/2016 13:07:36,NaN,NaN
266,Patricia,Daviero,Female,Duanesburg,NY,40,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/03/2016 13:04:58,NaN,NaN
267,Garrett,McCann,Male,Glenmont,NY,55,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,03/06/2016 18:28:23,NaN,NaN
268,Wendy,Colonno,female,Glenmont,NY,39,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/03/2016 21:08:41,NaN,NaN
269,Ashley,Benincasa,Female,Glenville,NY,32,NaN,No,No,Non-members,30,Paid,03/03/2016 20:42:24,NaN,NaN
270,Christopher,Fischer,Male,Latham,NY,39,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/29/2016 19:41:17,NaN,NaN
271,Richard,Baker,Male,Rensselaer,NY,41,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,03/05/2016 10:50:12,NaN,NaN
272,Sarah,Popovitch,Female,Saratoga Springs,NY,22,NaN,No,Yes,HMRRC/USATF Car Pool,20,Paid,02/17/2016 17:39:44,NaN,NaN
273,mary kay,scott,female,schenectady,NY,55,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,03/06/2016 21:12:37,NaN,NaN
274,cory,gregg,male,schenectady,NY,35,NaN,No,No,Non-members,30,Paid,02/08/2016 09:49:39,NaN,NaN
275,Richard,Kelly,Male,Schenectady,NY,59,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/02/2016 20:21:33,NaN,NaN
276,Kimberly,Furnish,Female,Scotia,NY,43,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/15/2016 13:24:15,NaN,NaN
277,Libbie,Craft,F,Selkirk,NY,39,NaN,No,No,Car Pool,25,Paid,02/23/2016 09:14:15,NaN,NaN
278,Tara,Curran,Female,Selkirk,NY,38,NaN,Yes,No,HMRRC and/or USATF member,25,Paid,02/08/2016 09:47:17,NaN,NaN
279,Barbara,Bradley,Female,Slingerlands,NY,58,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/23/2016 07:53:23,NaN,NaN
280,Nicole,Cox,Female,"Troy, Ny",NY,25,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/26/2016 05:42:52,NaN,NaN
281,DJ,Hansen,Male,Wynantskill,NY,42,NaN,Yes,No,HMRRC/USATF Car Pool,20,Paid,02/08/2016 20:17:13,NaN,NaN
282,Teri,Strutsrum,F,NaN,NaN,46,NaN,No,NaN,Car Pool,25,Free,02/28/2016 18:26:04,NaN,NaN

In [33]:
rotg.shape

(283, 15)

In [35]:
rotg.to_csv('../data/rotg-clubs2.csv')