In [110]:
import pandas as pd
import datetime

In [127]:
# import the results
results=pd.read_fwf('../data/2017_agegraded.txt')
results=results.drop(['Place','Div','City','St'],1)

results.head()

             Name  Age  S   Time  Agegrd%
0  Derrick Staley   57  M  22:42    89.27
1   Bob Giambalvo   66  M  24:52    88.14
2    Beth Stalker   56  F  26:37    86.63
3    Emily Bryans   48  F  24:17    86.61
4     Renee Tolan   41  F  23:12    85.38

In [128]:
def convert(s): 
    try:
        time=datetime.datetime.strptime(s,'%M:%S')
    except:
        time=datetime.datetime.strptime(s,'%M:%S.%f')
    return time

In [129]:
def agegrade(time, agegrade):
    return datetime.timedelta(seconds=time.total_seconds()/(.01*agegrade))

In [130]:
basetime=convert('16:54')-datetime.datetime.strptime('00:00.0','%M:%S.%f')
print basetime
print basetime*100/1000
print type(1000)
print agegrade(basetime, 90)

0:16:54
0:01:41.400000
<type 'int'>
0:18:46.666667

In [131]:
results.Time = results.Time.apply(lambda x: convert(x))
# create time delta by subtracting a base time
results.Time=results.Time - datetime.datetime.strptime('00:00.0','%M:%S.%f')
results['TimeAG']=results['Agegrd%'].apply(lambda x:agegrade(basetime, x))
#imedelta(seconds=multiplier * passed_time.total_seconds())
results.iloc[0:10]

               Name  Age  S     Time  Agegrd%          TimeAG
0    Derrick Staley   57  M 00:22:42    89.27 00:18:55.879915
1     Bob Giambalvo   66  M 00:24:52    88.14 00:19:10.442478
2      Beth Stalker   56  F 00:26:37    86.63 00:19:30.495210
3      Emily Bryans   48  F 00:24:17    86.61 00:19:30.765501
4       Renee Tolan   41  F 00:23:12    85.38 00:19:47.631764
5      Julia Flower   17  F 00:23:04    85.06 00:19:52.099694
6    Eric Macknight   27  M 00:19:57    84.71 00:19:57.025145
7    Thomas Kracker   51  M 00:23:14    83.05 00:20:20.951234
8      Aaron Lozier   27  M 00:20:22    82.98 00:20:21.981200
9  John Stadtlander   50  M 00:23:06    82.86 00:20:23.750905

In [132]:
teams=[]
# define the teams
teams.append(['team_big', 'Eric Macknight', 'Mollie Turner', 'Bob Giambalvo', 'Volker Burkowski'])

In [139]:
for team in teams:
    team_df=pd.DataFrame()
    print team_df
    for i in range(4):
        name=team[i+1]
        team_df=team_df.append(results.loc[results['Name']==name])
        
    team_df=team_df.reset_index()
   
    team_df['ScoredTime']=pd.Series([team_df.Time.iloc[0],team_df.Time.iloc[1],team_df.TimeAG.iloc[2],team_df.TimeAG.iloc[3]])
    print team_df
    print team_df.ScoredTime.sum()

Empty DataFrame
Columns: []
Index: []
   index              Name  Age  S     Time  Agegrd%          TimeAG  \
0      6    Eric Macknight   27  M 00:19:57    84.71 00:19:57.025145
1     29     Mollie Turner   36  F 00:24:55    77.61 00:21:46.532663
2      1     Bob Giambalvo   66  M 00:24:52    88.14 00:19:10.442478
3     14  Volker Burkowski   44  M 00:22:38    80.74 00:20:55.883081

       ScoredTime
0        00:19:57
1        00:24:55
2 00:19:10.442478
3 00:20:55.883081
0 days 01:24:58.325559