In [16]:
import pandas as pd

clubs=pd.read_csv('../data/rotg-clubs.csv')
print clubs.shape
clubs.head()

(284, 12)

,first,last,gender,city,state,age,usatfnum1,usatfnum2,hmrrc,usatf,clubname,uptodate
0,Raymond W.,"Lee, Jr.",M,Halfmoon,NY,74,1400029425,1400029425,Yes,Yes,Adirondack Athletic Club,yes
1,Thomas,Dalton,M,Schenectady,NY,57,1400029581,1400029581,No,Yes,Adirondack Athletic Club,yes
2,rob,picotte,M,Malta,NY,62,1400510465,1400510465,Yes,Yes,Adirondack Athletic Club,yes
3,Chris,Buckley,M,Burnt Hills,NY,54,1400713184,1400713184,Yes,Yes,Adirondack Athletic Club,yes
4,Tom,McGuire,M,Slingerlands,NY,64,1402064461,1402064461,Yes,Yes,Adirondack Athletic Club,yes

In [17]:
hmrrc=clubs[clubs.hmrrc=='Yes']
hmrrc=hmrrc[['first','last','gender','age']]
hmrrc.head()

        first      last gender  age
0  Raymond W.  Lee, Jr.      M   74
2         rob   picotte      M   62
3       Chris   Buckley      M   54
4         Tom   McGuire      M   64
5      Robert   Colborn      M   61

In [31]:
def prixReport(ag,emin, agemax, gender):
    racers=hmrrc[hmrrc.gender==gender]
    racers=racers[racers.age>=agemin]
    racers=racers[racers.age<=agemax]
    
    return racers.to_html(index=False) if racers.shape[0]>0 else None

In [44]:
for age in [[20,29],[30,39],[40,49],[50,59],[60,69],[70,99]]: 
    for gender in ['M','F']:
        print gender, age
        
        prixReport(age[0],age[1],gender)

M [20, 29]
F [20, 29]
M [30, 39]
F [30, 39]
M [40, 49]
F [40, 49]
M [50, 59]
F [50, 59]
M [60, 69]
F [60, 69]
M [70, 99]
F [70, 99]

In [38]:
 zip(['M','F'],[20,30,40,50,60,70,100])

[('M', 20), ('F', 30)]

In [55]:
f = open('../hmrrcprix.html','w')

message = """<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Runnin&#39; of the Green USATF Grand Prix</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body><h1>Runnin' of the Green HMRRC Grand Prix entrants</h1>"""

for age in [[20,29],[30,39],[40,49],[50,59],[60,69],[70,99]]: 
    for gender in ['M','F']:
        
        table=prixReport(age[0],age[1],gender)

        message=message+"<h2>"+gender+str(age)+"</h2>"
        
        if (table!=None):
            message=message+table
            message=message+"<br>"

        message=message+"""</body>
        </html>"""

f.write(message)
f.close()