In [111]:
import pandas as pd

clubs=pd.read_csv('../data/rotg-clubs.csv')

clubs=clubs[['first','last','gender','age','uptodate','clubname']]
clubs['open']='yes'
clubs['master'] =  clubs['age'].map(lambda x: 'no' if x < 40 else 'yes')
clubs['agegrade'] =  clubs['age'].map(lambda x: 'no' if x < 50 else 'yes')

In [112]:
clubs.head()

,first,last,gender,age,uptodate,clubname,open,master,agegrade
0,Raymond W.,"Lee, Jr.",M,74,yes,Adirondack Athletic Club,yes,yes,yes
1,Thomas,Dalton,M,57,yes,Adirondack Athletic Club,yes,yes,yes
2,rob,picotte,M,62,yes,Adirondack Athletic Club,yes,yes,yes
3,Chris,Buckley,M,54,yes,Adirondack Athletic Club,yes,yes,yes
4,Tom,McGuire,M,64,yes,Adirondack Athletic Club,yes,yes,yes

In [113]:
# get unique club names
clubnames=clubs.clubname.unique()
clubnames = [x for x in clubnames if str(x) != 'nan']
print clubnames

['Adirondack Athletic Club', 'ARE Racing Team', 'Castleton Cruisers', 'Fleet Feet Sports Running/Walking Club', 'Hudson Mohawk Road Runners Club', 'Kinderhook Runners Club', 'Kinetic Running Club', 'Saratoga Stryders', 'Team Utopia', 'Willow Street AC']

In [114]:
def clubReport(clubname):
    
    racers=clubs[clubs.clubname==clubname]
    racers=racers.drop('clubname',1)
    males=racers[racers.gender=='M']
    males=males.sort('age')
    
    females=racers[racers.gender=='F']
    females=females.sort('age')
    
    mhtml = males.to_html(index=False) if males.shape[0]>0 else None
    fhtml = females.to_html(index=False) if females.shape[0]>0 else None
    
    return mhtml, fhtml

In [115]:
f = open('../grandprix.html','w')

message = """<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Runnin&#39; of the Green USATF Grand Prix</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body><h1>Runnin' of the Green USATF Grand Prix Club Teams</h1>"""

#clubname='ARE Racing Team'

for clubname in clubnames:
    print clubname
    mtable, ftable=clubReport(clubname)

    message=message+"<h2>"+clubname+"</h2>"
    
    if (mtable!=None):
        message=message+"<h3>Men: </h3>"
        message=message+mtable
        message=message+"<br>"

    if (ftable!=None):
        message=message+"<h3>Women: </h3>"
        message=message+ftable
        message=message+"<br>"

    message=message+"""</body>
    </html>"""

f.write(message)
f.close()

Adirondack Athletic Club
ARE Racing Team
Castleton Cruisers
Fleet Feet Sports Running/Walking Club
Hudson Mohawk Road Runners Club
Kinderhook Runners Club
Kinetic Running Club
Saratoga Stryders
Team Utopia
Willow Street AC

In [87]:
help (pd.DataFrame.to_html)

Help on method to_html in module pandas.core.frame:

to_html(self, buf=None, columns=None, col_space=None, colSpace=None, header=True, index=True, na_rep='NaN', formatters=None, float_format=None, sparsify=None, index_names=True, justify=None, bold_rows=True, classes=None, escape=True, max_rows=None, max_cols=None, show_dimensions=False, notebook=False) unbound pandas.core.frame.DataFrame method
    Render a DataFrame as an HTML table.

    `to_html`-specific options:

    bold_rows : boolean, default True
        Make the row labels bold in the output
    classes : str or list or tuple, default None
        CSS class(es) to apply to the resulting html table
    escape : boolean, default True
        Convert the characters <, >, and & to HTML-safe sequences.=
    max_rows : int, optional
        Maximum number of rows to show before truncating. If None, show
        all.
    max_cols : int, optional
        Maximum number of columns to show before truncating. If None, show
        all.


     Parameters
     ----------
     frame : DataFrame
         object to render
    buf : StringIO-like, optional
        buffer to write to
    columns : sequence, optional
        the subset of columns to write; default None writes all columns
    col_space : int, optional
        the minimum width of each column
    header : bool, optional
        whether to print column labels, default True
    index : bool, optional
        whether to print index (row) labels, default True
    na_rep : string, optional
        string representation of NAN to use, default 'NaN'
    formatters : list or dict of one-parameter functions, optional
        formatter functions to apply to columns' elements by position or name,
        default None. The result of each function must be a unicode string.
        List must be of length equal to the number of columns.
    float_format : one-parameter function, optional
        formatter function to apply to columns' elements if they are floats,
        default None. The result of this function must be a unicode string.
    sparsify : bool, optional
        Set to False for a DataFrame with a hierarchical index to print every
        multiindex key at each row, default True
    justify : {'left', 'right'}, default None
        Left or right-justify the column labels. If None uses the option from
        the print configuration (controlled by set_option), 'right' out
        of the box.
    index_names : bool, optional
        Prints the names of the indexes, default True
    force_unicode : bool, default False
        Always return a unicode result. Deprecated in v0.10.0 as string
        formatting is now rendered to unicode by default.

    Returns
    -------
    formatted : string (or unicode, depending on data and options)