In [17]:
# import the libraries we will need

import pandas as pd
import datetime
from IPython.display import display
import numpy

In [2]:
# import the agegraded results
results=pd.read_fwf('../data/2017_agegraded.txt')
results=results.drop(['Place','Div','City','St'],1)

results.head()

             Name  Age  S   Time  Agegrd%
0  Derrick Staley   57  M  22:42    89.27
1   Bob Giambalvo   66  M  24:52    88.14
2    Beth Stalker   56  F  26:37    86.63
3    Emily Bryans   48  F  24:17    86.61
4     Renee Tolan   41  F  23:12    85.38

In [3]:
# define a function that converts a string to a time delta
def convert(timeString): 
    try:
        time=datetime.datetime.strptime(timeString,'%M:%S')
    except:
        time=datetime.datetime.strptime(timeString,'%M:%S.%f')
        
    # subtract the python based time to make it a time delta and return
    return time-datetime.datetime.strptime('00:00.0','%M:%S.%f')

In [4]:
def roundtime(t):
    mil=datetime.timedelta(microseconds=t.microseconds)
    roundmil=1000000*round(t.microseconds/1000000.)
    return t-mil+datetime.timedelta(microseconds=roundmil)

In [5]:
def agegrade(time, agegrade):
    return datetime.timedelta(seconds=time.total_seconds()/(.01*agegrade))

In [6]:
basetime=convert('16:54')
print type(basetime)
print basetime
print basetime*100/1000
print type(1000)
agetime= agegrade(basetime, 82.98)
print type(agetime)
print agetime
print agetime-datetime.timedelta(microseconds=agetime.microseconds)
print roundtime(agetime)

<type 'datetime.timedelta'>
0:16:54
0:01:41.400000
<type 'int'>
<type 'datetime.timedelta'>
0:20:21.981200
0:20:21
0:20:22

In [7]:
results.Time = results.Time.apply(lambda x: convert(x))
# create time delta by subtracting a base time
results['TimeAG']=results['Agegrd%'].apply(lambda x:agegrade(basetime, x))
results['TimeAG']=results['TimeAG'].apply(lambda x:roundtime(x))

#imedelta(seconds=multiplier * passed_time.total_seconds())
results.iloc[0:30]

                  Name  Age  S     Time  Agegrd%   TimeAG
0       Derrick Staley   57  M 00:22:42    89.27 00:18:56
1        Bob Giambalvo   66  M 00:24:52    88.14 00:19:10
2         Beth Stalker   56  F 00:26:37    86.63 00:19:30
3         Emily Bryans   48  F 00:24:17    86.61 00:19:31
4          Renee Tolan   41  F 00:23:12    85.38 00:19:48
5         Julia Flower   17  F 00:23:04    85.06 00:19:52
6       Eric Macknight   27  M 00:19:57    84.71 00:19:57
7       Thomas Kracker   51  M 00:23:14    83.05 00:20:21
8         Aaron Lozier   27  M 00:20:22    82.98 00:20:22
9     John Stadtlander   50  M 00:23:06    82.86 00:20:24
10         Lee Pollock   63  M 00:25:47    82.75 00:20:25
11         John Noonan   56  M 00:24:36    81.69 00:20:41
12         Alex Benway   25  M 00:20:52    80.99 00:20:52
13       Erin Corcoran   41  F 00:24:30    80.85 00:20:54
14    Volker Burkowski   44  M 00:22:38    80.74 00:20:56
15       Shaun Donegan   30  M 00:20:58    80.71 00:20:56
16     Mark Stephenson   52  M 00:24:09    80.54 00:20:59
17             Kim Law   58  F 00:29:23    80.41 00:21:01
18           David Roy   61  M 00:26:12    80.03 00:21:07
19         Chuck Terry   33  M 00:21:21    79.81 00:21:11
20         Macky Lloyd   25  M 00:21:13    79.65 00:21:13
21      Nancy Taormina   56  F 00:28:58    79.60 00:21:14
22           Jon Rocco   49  M 00:23:53    79.52 00:21:15
23    Colleen Brackett   56  F 00:29:05    79.28 00:21:19
24          Dave Glass   69  M 00:28:47    78.34 00:21:34
25         Ray Webster   41  M 00:22:49    78.32 00:21:35
26        Robert Irwin   43  M 00:23:12    78.18 00:21:37
27         Pat Carroll   24  M 00:21:38    78.12 00:21:38
28  Martha C. Degrazia   65  F 00:33:14    77.81 00:21:43
29       Mollie Turner   36  F 00:24:55    77.61 00:21:47

In [8]:
results.iloc[90:110]

                   Name  Age  S     Time  Agegrd%   TimeAG
90        Anny Stockman   83  F 00:54:24    63.97 00:26:25
91            Jay Quinn   51  M 00:30:17    63.71 00:26:32
92      Kirsten Leblanc   52  F 00:34:33    63.67 00:26:33
93      Frederick Kopff   47  M 00:29:40    63.03 00:26:49
94      Hilary Claggett   51  F 00:34:31    63.01 00:26:49
95         Paul Cirillo   40  M 00:28:14    62.83 00:26:54
96              Tom Law   44  M 00:29:11    62.62 00:26:59
97    Stephen Montanaro   50  M 00:30:58    61.81 00:27:21
98    Joseph Richardson   76  M 00:40:19    61.81 00:27:21
99   Chester Tumidajewi   61  M 00:34:00    61.67 00:27:24
100       Cathy Soloyna   62  F 00:40:21    61.60 00:27:26
101    Meaghan Podlaski   18  F 00:31:47    60.90 00:27:45
102        Anthony Lupo   53  M 00:32:32    60.27 00:28:02
103          Perry Gava   57  M 00:34:04    59.48 00:28:25
104          Eiko Bogue   78  F 00:53:51    58.24 00:29:01
105         Tim Leonard   67  M 00:38:07    58.03 00:29:07
106      Diane Thompson   61  F 00:42:41    57.48 00:29:24
107       Sharon Strodl   41  F 00:35:46    55.38 00:30:31
108       Anne Miralles   48  F 00:38:17    54.94 00:30:46
109          Nina Lynch   35  F 00:36:25    52.94 00:31:55

In [9]:
teams=pd.read_csv('faketeams.csv')

display(teams.head())
print teams.iloc[1,3]
# define the teams
#teams.append(['team_one', 'Eric Macknight', 'Mollie Turner', 'Bob Giambalvo', 'Volker Burkowski'])
#teams.append(['team_two', 'Aaron Lozier', 'Julia Flower', 'John Stadtlander', 'Lee Pollock'])
#teams.append(['team_clue', 'Shaun Donegan', 'Erin Corcoran', 'Kim Law', 'Beth Stalker'])
#teams.append(['team_four', 'Tom Law', 'Eiko Bogue', 'Chester Tumidajewi', 'Anny Stockman'])

,Team Name,Open Male,Open Female,Agegraded1,Agegraded2,Extra 1,Extra 2
0,team_one,Eric Mcknight,Mollie Turner,Bob Giambalvo,Volker Burkowski,NaN,NaN
1,team_two,Aaron Lozier,Julia Flower,John Stadtlander,Lee Pollock,NaN,NaN
2,team_three,Shaun Donegan,Erin Corcoran,Kim Law,Beth Stalker,NaN,NaN
3,team_four,Tom Law,Eiko Bogue,Chester Tumidajewi,Anny Stockman,NaN,NaN

John Stadtlander

In [47]:
display(results.head())

print 'Beth Staflker' in results.Name.tolist()
print results.Name.iloc[2]=='Beth Stalker'
7 in [1,2,3,7]

             Name  Age  S     Time  Agegrd%   TimeAG
0  Derrick Staley   57  M 00:22:42    89.27 00:18:56
1   Bob Giambalvo   66  M 00:24:52    88.14 00:19:10
2    Beth Stalker   56  F 00:26:37    86.63 00:19:30
3    Emily Bryans   48  F 00:24:17    86.61 00:19:31
4     Renee Tolan   41  F 00:23:12    85.38 00:19:48

False
True

True

In [53]:
team_dfs=pd.DataFrame(columns=('time','teamdf'))
team_dfs_invalid=[]

j=0;

for index, team in teams.iterrows():
#for team in teams:
    team_df=pd.DataFrame()
    #print team
    for i in range(4):
        name=team.iloc[i+1]
        if (name in results.Name.tolist()):
            team_df=team_df.append(results.loc[results['Name']==name])
        
    team_df=team_df.reset_index(drop=True)
   
    if (team_df.shape[0]>=4):
        team_df['ScoredTime']=pd.Series([team_df.Time.iloc[0],team_df.Time.iloc[1],team_df.TimeAG.iloc[2],team_df.TimeAG.iloc[3]])
        display(team_df)
        print team_df.ScoredTime.sum()
    
        team_dfs.loc[j]=[team_df.ScoredTime.sum(), team_df]
    else:
        team_dfs_invalid.append(team_df)
        print "Problem!!!!!"
        display(team_df)
    
    j=j+1

Problem!!!!!

               Name  Age  S     Time  Agegrd%   TimeAG
0     Mollie Turner   36  F 00:24:55    77.61 00:21:47
1     Bob Giambalvo   66  M 00:24:52    88.14 00:19:10
2  Volker Burkowski   44  M 00:22:38    80.74 00:20:56

               Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0      Aaron Lozier   27  M 00:20:22    82.98 00:20:22    00:20:22
1      Julia Flower   17  F 00:23:04    85.06 00:19:52    00:23:04
2  John Stadtlander   50  M 00:23:06    82.86 00:20:24    00:20:24
3       Lee Pollock   63  M 00:25:47    82.75 00:20:25    00:20:25

0 days 01:24:15

            Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0  Shaun Donegan   30  M 00:20:58    80.71 00:20:56    00:20:58
1  Erin Corcoran   41  F 00:24:30    80.85 00:20:54    00:24:30
2        Kim Law   58  F 00:29:23    80.41 00:21:01    00:21:01
3   Beth Stalker   56  F 00:26:37    86.63 00:19:30    00:19:30

0 days 01:25:59

                 Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0             Tom Law   44  M 00:29:11    62.62 00:26:59    00:29:11
1          Eiko Bogue   78  F 00:53:51    58.24 00:29:01    00:53:51
2  Chester Tumidajewi   61  M 00:34:00    61.67 00:27:24    00:27:24
3       Anny Stockman   83  F 00:54:24    63.97 00:26:25    00:26:25

0 days 02:16:51

In [54]:
team_dfs

      time                                             teamdf
1 01:24:15                 Name  Age  S     Time  Agegrd% ...
2 01:25:59              Name  Age  S     Time  Agegrd%   T...
3 02:16:51                   Name  Age  S     Time  Agegrd...

In [59]:
team_dfs.sort('time', ascending=True, inplace=True)

for index, row in team_dfs.iterrows():
    display(row.teamdf)
    
for df in team_dfs_invalid:
    display(df)

/home/bnorthan/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

               Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0      Aaron Lozier   27  M 00:20:22    82.98 00:20:22    00:20:22
1      Julia Flower   17  F 00:23:04    85.06 00:19:52    00:23:04
2  John Stadtlander   50  M 00:23:06    82.86 00:20:24    00:20:24
3       Lee Pollock   63  M 00:25:47    82.75 00:20:25    00:20:25

            Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0  Shaun Donegan   30  M 00:20:58    80.71 00:20:56    00:20:58
1  Erin Corcoran   41  F 00:24:30    80.85 00:20:54    00:24:30
2        Kim Law   58  F 00:29:23    80.41 00:21:01    00:21:01
3   Beth Stalker   56  F 00:26:37    86.63 00:19:30    00:19:30

                 Name  Age  S     Time  Agegrd%   TimeAG  ScoredTime
0             Tom Law   44  M 00:29:11    62.62 00:26:59    00:29:11
1          Eiko Bogue   78  F 00:53:51    58.24 00:29:01    00:53:51
2  Chester Tumidajewi   61  M 00:34:00    61.67 00:27:24    00:27:24
3       Anny Stockman   83  F 00:54:24    63.97 00:26:25    00:26:25

               Name  Age  S     Time  Agegrd%   TimeAG
0     Mollie Turner   36  F 00:24:55    77.61 00:21:47
1     Bob Giambalvo   66  M 00:24:52    88.14 00:19:10
2  Volker Burkowski   44  M 00:22:38    80.74 00:20:56

In [57]:
def getFormatingRight(t):
    s=t.seconds
    hours = s // 3600 
    # remaining seconds
    s = s - (hours * 3600)
    # minutes
    minutes = s // 60
    # remaining seconds
    seconds = s - (minutes * 60)
    # total time
    return '%s:%s:%s' % (hours, minutes, seconds)

In [62]:
page=results.to_html()
page=page+'<div class="pagebreak"> </div>'
for index, row in team_dfs.iterrows():
    page=page+'<p>'
    page=page+'<br><br>'
    print getFormatingRight(row.time)
    page=page+getFormatingRight(row.time)+'<br>'
    page=page+row['teamdf'].to_html()
    page=page+'</p>'

for df in team_dfs_invalid:
    page=page+'<p>'
    page=page+'<br><br>'
    page=page+'INCOMPLETE TEAM<br>'
    page=page+df.to_html()
    page=page+'</p>'

1:24:15
1:25:59
2:16:51

In [63]:
from weasyprint import HTML
HTML(string=page).write_pdf("report.pdf", stylesheets=["stylesheet.css"])

In [51]:
f = open('report.html', 'w')
f.write(page.encode('utf8'))
f.close()

In [56]:
results.rename(columns={'Agegrd%': 'AG%'}, inplace=True)

for df in team_dfs:
    df.rename(columns={'Agegrd%': 'AG%'}, inplace=True)

AttributeError: 'str' object has no attribute 'rename'

In [4]:
age_table=pd.read_csv('agegradedtable.csv')

In [5]:
age_table.shape

(96, 21)

In [6]:
age_table.columns

Index([u'Age', u'5 km', u'6 km', u'4 Mile', u'8 km', u'5 Mile', u'10 km',
       u'12 km', u'15 km', u'10 Mile', u'20 km', u'H. Mar', u'25 km', u'30 km',
       u'Marathon', u'50 km', u'50 Mile', u'100 km', u'150 km', u'100 Mile',
       u'200 km'],
      dtype='object')

In [7]:
four_mile=age_table['4 Mile']

In [8]:
four_mile.head()

0    1549
1    1465
2    1394
3    1334
4    1282
Name: 4 Mile, dtype: int64

In [10]:
1011./60.

16.85

In [19]:
print 1225./60.
print .4*60

20.4166666667
24.0

In [35]:
thetime=datetime.datetime.strptime('20:24','%M:%S')-datetime.datetime.strptime('00:00.0','%M:%S.%f')
print thetime

0:20:24

In [37]:
print agegrade(thetime, 99)

0:20:36.363636

In [31]:
basetime=convert('16:54')-datetime.datetime.strptime('00:00.0','%M:%S.%f')

In [32]:
type(basetime)

datetime.timedelta

In [33]:
type(convert('16:54'))

datetime.datetime

In [34]:
type(convert('16:54')-datetime.datetime.strptime('00:00.0','%M:%S.%f'))

datetime.timedelta